* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: medium;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: "Poppins";
  font-size: medium;
}

header {
  width: 100%;
  background: rgb(1, 92, 51);
  position: fixed;
  z-index: 1;
}

#header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

#header-img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-image: url("/Images/school-badge.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#school-name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  color: white;
  display: none;
}

#header-name p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  color: white;
}

nav {
  display: none;
}

#drop-down {
  width: 80px;
  height: 40px;
  border: 2px solid white;
  background-color: rgb(1, 66, 1);
  border-radius: 6px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

#drop-down hr {
  width: 100%;
  border: 1px solid white;
}

#drop-down-menu {
  box-sizing: border-box;
  z-index: 2;
  position: absolute;
  background-color: green;
  top: 70px;
  right: 50px;
  width: 120px;
  padding-bottom: 5px;
  height: fit-content;
  display: none;
}

#drop-down-menu hr {
  border: 1px solid rgb(167, 164, 164);
}

ul {
  list-style: none;
}

ul li {
  position: relative;
  left: 0;
  width: 100%;
  height: 30px;
  color: white;
}

li {
  display: inline-block;
  text-align: left;
  padding: 8px 10px;
}

#inactive {
  pointer-events: none;
  cursor: none;
}

.shift-right {
  width: 100%;
  padding-left: 25px;
}

ul li a {
  color: white;
}

ul li ul li {
  display: block;
  margin: 0;
  border: none;
  box-shadow: none;
  text-align: left;
  padding: 5px 10px;
}

ul li:hover {
  background-color: grey;
}

/* start of main content styling */

main {
  position: relative;
  top: 100px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;
}

#school-anthem {
  width: 70%;
  height: 300px;
  margin: 0 auto 20px auto;
  border-radius: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  text-align: center;
}

#school-anthem h1 {
  margin-bottom: 15px;
}

#proprietor-picture {
  width: 60%;
  height: 300px;
  margin: 0 auto;
}

#proprietor {
  width: 100%;
  height: 90%;
}

figcaption {
  text-align: center;
}

#proprietor-message {
  margin-top: 10px;
  width: 100%;
  height: 300px;
}

#proprietor-message h1 {
  text-align: center;
}

/* footer styling */

footer {
  position: relative;
  top: 80px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  bottom: 5px;
}

footer hr {
  border: 1px solid red;
  width: 100%;
  margin-bottom: 20px;
}

#topFooter,
#lowerFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

#logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 70px;
  margin-right: 5px;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: #000000;
  display: none;
}

#topRight {
  font-family: "Assistant";
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightTop img {
  margin-right: 5px;
}

.rightTop p {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #0a142f;
}

.rightTop,
.rightMiddle,
.rightBottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#middleLeft,
#middleRight {
  display: flex;
  width: 30%;
  margin-right: 20px;
}

#middleLeft img,
#middleRight img {
  margin-right: 5px;
}

#socialMedia {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightBottom p {
  width: 30%;
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #0a142f;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#lowerFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
  padding: 10px 0;
  font-family: "Inter";
}

#lowerLeft {
  margin-bottom: 10px;
  /* flex-wrap: wrap; */
}

#lowerLeft a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  color: #0a142f;
  margin-right: 10px;
}

#lowerLeft a:hover {
  color: white;
  text-shadow: 0 0 10px #0a142f;
}

#lowerRight p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #0a142f;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media screen and (min-width: 600px) {
  header {
    width: 100%;
    background: rgb(1, 92, 51);
  }

  #header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
  }

  #header-img {
    width: 130px;
    height: 130px;
    border: 1px solid white;
    border-radius: 130px;
    background-image: url("/Images/school-badge.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #school-name {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: white;
    display: flex;
  }

  nav {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* nav a {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: green;
    box-shadow: 0 0 10px black inset;
  } */

  #active {
    color: yellow;
    font-weight: 900;
    text-shadow: 0 0 10px 10px white;
  }

  /* nav a:hover {
    border: 3px solid yellow;
    box-shadow: 0 0 10px white;
  } */

  ul {
    list-style: none;
  }

  ul li {
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    text-align: center;
    background-color: green;
    box-shadow: 0 0 10px black inset;
  }

  li {
    display: inline-block;
    place-items: calc(50%);
    padding: 8px 5px;
    margin: 0 5px;
  }

  ul li ul {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 28px;
    left: 40px;
    width: fit-content;
    background-color: blue;
    border-left: 3px solid yellow;
    border-right: none;
    z-index: 1;
  }

  ul li a {
    color: white;
  }

  ul li ul li {
    display: block;
    margin: 0;
    border: none;
    box-shadow: none;
    text-align: left;
    padding: 5px 10px;
  }

  ul li:hover {
    border: 3px solid yellow;
    box-shadow: 0 0 10px white;
  }

  ul li:hover ul {
    display: block;
    background-color: green;
  }

  ul li:hover ul li:hover {
    width: 100%;
    box-shadow: none;
    color: white;
    background-color: blue;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 3px solid yellow;
  }

  #drop-down {
    display: none;
  }

  main {
    top: 150px;
    width: 80%;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #school-anthem {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
    border-radius: 500px;
    background-color: rgb(202, 202, 202);
    box-shadow: 0 0 30px 20px grey inset;
  }

  #school-anthem h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }

  #school-anthem p {
    font-size: 20px;
    text-align: center;
  }

  #proprietor-section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
  }

  #proprietor-picture {
    width: 38%;
    height: 400px;
    margin: 0;
  }

  #proprietor-message {
    width: 58%;
  }

  #proprietor-message h1 {
    text-align: left;
  }

  /* footer styling */

  footer {
    margin: 0 auto;
    position: relative;
    top: 140px;
    box-sizing: border-box;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer hr {
    border: 1px solid red;
    margin-bottom: 20px;
    width: 90%;
  }

  #topFooter {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
  }

  #lowerFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 90%;
    margin-bottom: 20px;
  }

  #logo {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
    display: flex;
  }

  #topRight {
    font-family: "Assistant";
    width: 40%;
  }

  .rightTop img {
    margin-right: 5px;
  }

  .rightTop p {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0a142f;
  }

  .rightTop,
  .rightMiddle,
  .rightBottom {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  #socialMedia {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #socialMedia a {
    display: flex;
    align-items: center;
    width: 20%;
  }

  .rightBottom p {
    width: 20%;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0a142f;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  #middleLeft,
  #middleRight {
    display: flex;
    width: 45%;
  }

  #middleLeft img,
  #middleRight img {
    margin-right: 5px;
  }

  #lowerLeft {
    width: 60%;
  }

  #lowerRight {
    width: 40%;
  }

  #lowerLeft a {
    margin-right: 25px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #0a142f;
  }

  #lowerLeft a:hover {
    color: white;
    text-shadow: 0 0 10px #0a142f;
  }

  #lowerRight p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #0a142f;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
